.App {
  color: red;
  font-family: sans-serif;
  text-align: center;
}

.timeapp {
  display: flex;
  justify-content: center;
}

.submitform {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.submitform label {
  color: red;
}

.submitform #taskbutton {
  background-color: grey;
}

#taskinput {
  color: white;
}
